<div class="container py-2">
    <CalcDisplay></CalcDisplay>
    <CalcKeyboard></CalcKeyboard>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        width: auto;
        background: lightgray;
    }
</style>
