@using WebCalc.Application.Contracts.BinaryOperation
@using WebCalc.Domain.BinaryOperation

<div class="keyboard">
    <div class="keyboard-keys">
        <div class="child col">
            <button style="background-color: var(--color-button-memory);">M+</button>
        </div>
        <div class="child col">
            <button style="background-color: var(--color-button-memory);">MC</button>
        </div>
        <div class="child col">
            <button id="@Constants.CLEAR" style="background-color: var(--color-button-back);" @onclick="()=>RiseOnButtonClick(Constants.CLEAR)">C</button>
        </div>
        <div class="child col">
            <button id="@Constants.BACKSPACE" style="background-color: var(--color-button-back);" @onclick="()=>RiseOnButtonClick(Constants.BACKSPACE)">BACK</button>
        </div>
        <div class="child col">
            <button style="background-color: var(--color-button-memory);">MR</button>
        </div>
        <div class="child col">
            <button style="background-color: var(--color-button-off);">%OFF</button>
        </div>
        <div class="child col">
            <button id="@Constants.NEGATION_OPERATION_SIGN" style="background-color: var(--color-button-operator);" @onclick="()=>RiseOnButtonClick(Constants.NEGATION_OPERATION_SIGN)">&plusmn;</button>
        </div>
        <div class="child col">
            <button id="/" style="background-color: var(--color-button-operator);" @onclick="()=>RiseOnButtonClick('/') ">&divide;</button>
        </div>
        <div class="child col">
            <button id="7" style="background-color: var(--color-button-figure);" @onclick="()=>RiseOnButtonClick('7')">7</button>
        </div>
        <div class="child col">
            <button id="8" style="background-color: var(--color-button-figure);" @onclick="()=>RiseOnButtonClick('8')">8</button>
        </div>
        <div class="child col">
            <button id="9" style="background-color: var(--color-button-figure);" @onclick="()=>RiseOnButtonClick('9')">9</button>
        </div>
        <div class="child col">
            <button id="*" style="background-color: var(--color-button-operator);" @onclick="()=>RiseOnButtonClick('*')">&times;</button>
        </div>
        <div class="child col">
            <button id="4" style="background-color: var(--color-button-figure);" @onclick="()=>RiseOnButtonClick('4')">4</button>
        </div>
        <div class="child col">
            <button id="5" style="background-color: var(--color-button-figure);" @onclick="()=>RiseOnButtonClick('5')">5</button>
        </div>
        <div class="child col">
            <button id="6" style="background-color: var(--color-button-figure);" @onclick="()=>RiseOnButtonClick('6')">6</button>
        </div>
        <div class="child col">
            <button id="-" style="background-color: var(--color-button-operator);" @onclick="()=>RiseOnButtonClick('-')">&minus;</button>
        </div>
        <div class="child col">
            <button id="1" style="background-color: var(--color-button-figure);" @onclick="()=>RiseOnButtonClick('1')">1</button>
        </div>
        <div class="child col">
            <button id="2" style="background-color: var(--color-button-figure);" @onclick="()=>RiseOnButtonClick('2')">2</button>
        </div>
        <div class="child col">
            <button id="3" style="background-color: var(--color-button-figure);" @onclick="()=>RiseOnButtonClick('3')">3</button>
        </div>
        <div class="child col">
            <button id="+" style="background-color: var(--color-button-operator);" @onclick="()=>RiseOnButtonClick('+')">&plus;</button>
        </div>
        <div class="child col">
            <button id="const" style="background-color: var(--color-button-const);">CONST</button>
        </div>
        <div class="child col">
            <button id="0" style="background-color: var(--color-button-figure);" @onclick="()=>RiseOnButtonClick('0')">0</button>
        </div>
        <div class="child col">
            <button id="@Constants.FLOATING_POINT" style="background-color: var(--color-button-figure);" @onclick="()=>RiseOnButtonClick(Constants.FLOATING_POINT)">&sdot;</button>
        </div>
        <div class="child col">
            <button id="=" style="background-color: var(--color-button-operator);" @onclick="()=>RiseOnButtonClick('=')">&equals;</button>
        </div>
    </div>
</div>

<style>
    * {
        --color-button-memory: green;
        --color-button-back: orange;
        --color-button-figure: rgb(0, 102, 255);
        --color-button-off: red;
        --color-button-const: black;
        --color-button-operator: rgb(0, 49, 139);
        --color-button-fore: white;
        --color-display-back: black;
        --color-display-fore: rgb(208, 255, 0);
        --color-calc-back: lightgrey;
        --color-body: rgb(173, 196, 238);
    }

    .keyboard {
        height: 100%;
    }

    .keyboard-keys {        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 5px;
        row-gap: 5px;
        height: 100%;
        width: 100%;
    }

    .child > button {
        background-color: rgb(14, 119, 180);
        color: aliceblue;
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 8px;
    }

    @@media(max-width:280px) {
        .child > button {
            font-size: 12px;
        }

        #const {
            font-size: 10px;
        }
    }
</style>

@code{
    [Parameter]
    public EventCallback<char> OnButtonClick { get; set; }

    private async void RiseOnButtonClick(char value)
    {
        await OnButtonClick.InvokeAsync(value);
    }
}
