@using WebCalc.Application.Contracts.BinaryOperation
@using WebCalc.Domain.BinaryOperation
@inject IBinaryOperationManager binaryOperationManager;

<div class="container py-2">
    <CalcDisplay @ref="display" OnValidOperandGenerated="SetOperand" OnOperationTypeChanged="SetOperationType"></CalcDisplay>
    <CalcKeyboard OnButtonClick="UpdateDisplayAsync"></CalcKeyboard>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        width: auto;
        background: lightgray;
    }


</style>
