@using WebCalc.Application.Contracts.BinaryOperation
@using WebCalc.Domain.BinaryOperation

<div class="display">
    <div class="memory display-child mx-1 my-1" hidden="@showMemory">
        <p id="memory"><span style="background:green; color:white">Memory:</span>@memory</p>
    </div>
    <div class="result display-child mx-1 my-1">
        <p id="value">@value</p>
    </div>
    <div class="equation display-child mx-1 my-1">
        <p id="expression">@expression</p>
    </div>
</div>

<style>
    .display {
        background: white;
        margin-bottom: 10px;
    }

    .memory {
        color: green;
    }

    .result {
        text-align: right;
        color: black;
    }

    .equation {
        text-align: right;
        color: red;
    }

    .display-child > p {
        margin: 0px;
    }

    @@media (max-width:280px) {
        .memory {
            font-size: 16px;
        }

        .result {
            font-size: 22px;
        }

        .display {
            font-size: 16px;
        }
    }

    @@media (min-width:281px) {
        .memory {
            font-size: 22px;
        }

        .result {
            font-size: 32px;
        }

        .display {
            font-size: 22px;
        }
    }
</style>