@inherits LayoutComponentBase

<div class="page">
    <main>
        <article>
            @Body
        </article>
    </main>
</div>

<style>
    main>article{
        display: flex;
        height: 100vh;
        margin-left: 0;
        margin-right: 0;
    }
</style>
