@using BlazorPro.BlazorSize

@inherits LayoutComponentBase

<MediaQueryList>
    <div class="container-fluid px-0">
        <main>
            @if (isBetweenMediumDownAndXSmallDown)
            {
                <article id="root">
                    <ErrorBoundary>
                        <ChildContent>
                            @Body
                        </ChildContent>
                        <ErrorContent>
                            <div class="card text-center h-25 position-absolute top-50 start-50 translate-middle">
                                <div class="card-header">
                                    Error
                                </div>
                                <div class="card-body">
                                    Some error has occured, update application. You can open issue in our repository
                                </div>
                            </div>
                        </ErrorContent>
                    </ErrorBoundary>
                </article>
            }
            else
            {
                <article id="error">
                    <p>Sorry but currently we do not have version for current dimensions</p>
                </article>
            }

            <MediaQuery Media="@Breakpoints.Between(Breakpoints.MediumDown, Breakpoints.XSmallDown)" @bind-Matches="isBetweenMediumDownAndXSmallDown" />
        </main>
    </div>
</MediaQueryList>

<style>
    .article-with-error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blazor-error-boundary {
        display: flex;
        justify-content: center;
    }

    main > article {
        display: flex;
        height: 100vh;
        margin-left: 0;
        margin-right: 0;
    }
</style>

@code {
    bool isBetweenMediumDownAndXSmallDown;
}
