<div class="display">
    <div class="memory">
        <p>Memory:-0.0123456</p>
    </div>
    <div class="result">
        <p>-0.0123456789</p>
    </div>
    <div class="equation">
        <p>(-0.0123456789)+0=</p>
    </div>
</div>

<style>
    .display {
        background: white;
    }

    .equation{

    }

    .result{
        text-align: right;
        font-size: 40px;
        color: black;
    }
</style>
