<div class="container">
    <CalcDisplay></CalcDisplay>
    <CalcKeyboard></CalcKeyboard>
</div>

<style>
    .container{
       width:auto;
       margin-left:500px;
       margin-right:500px
    }
</style>

@code {

}
