
<p class="diplay-text" >0.0123456789</p>

<style>
    .diplay-text{
        text-align:right;
        font-size:40px;
        background-color: black;
        color:aqua;
        padding-x:16px;
    }
</style>


@code {

}
