<div class="display">
    <div class="memory display-child mx-1 my-1">
        <p><span style="background:green; color:white">Memory:</span>-0.0123456</p>
    </div>
    <div class="result display-child mx-1 my-1">
        <p>-0.0123456789</p>
    </div>
    <div class="equation display-child mx-1 my-1">
        <p>(-0.0123456789)+0=</p>
    </div>
</div>

<style>
    .display {
        background: white;
        margin-bottom: 10px;
    }

    .memory {
        color: green;
        font-size: 1.25rem;
    }

    .result {
        text-align: right;
        font-size: 2.5rem;
        color: black;
    }

    .equation {
        text-align: right;
        color: red;
        font-size: 1.25rem;
    }

    .display-child > p {
        margin: 0px;
    }

    @@media (max-width:280px) {
        .memory {
            font-size: 1rem;
        }

        .result {
            font-size: 1.7rem;
        }

        .equation {
            font-size: 1rem;
        }
    }
</style>
