@using WebCalc.Application.BinaryOperation
@using WebCalc.Application.Contracts.BinaryOperation
@using WebCalc.Application.Contracts.Services.InputValidationService
@using WebCalc.Contracts
@using WebCalc.Domain.BinaryOperation
@using WebCalc.Domain.Shared
@using WebCalc.Services
@using Syncfusion.Blazor.Navigations

@implements ICalc
@inject IBinaryOperationAppService binaryOperationAppService
@inject IInputValidationService inputValidationService

<div id="@Id" class="container">
    <CalcDisplay @ref="display" OnValidOperandGenerated="binaryOperationAppService.SetOperand" OnOperationTypeChanged="binaryOperationAppService.SetOperationType"></CalcDisplay>
    <CalcKeyboard OnButtonClick="UpdateDisplayAsync" OnConstClick="NavigateToConstsAsync"></CalcKeyboard>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: lightgray;
    }
</style>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public EventCallback OnNavigateToConsts { get; set; }

    private async Task NavigateToConstsAsync()
    {
        await OnNavigateToConsts.InvokeAsync();
    }

    private CalcDisplay? display;

    public string GetDisplayValue() => display.Value;

    public string GetDisplayMemory() => display.Memory;

    public string GetDisplayExpression() => display.Expression;

    // For test use only
    public void ClearOperations()
    {
        binaryOperationAppService.ClearOperations();
    }

    private async Task UpdateDisplayAsync(char value)
    {
        if (display is null) throw new NullReferenceException();

        if (value == Constants.MEMORY_ADD)
        {
            var displayMemory = display.Memory;
            var memory = binaryOperationAppService.GetUpdatedMemory(
                float.Parse(display.Value),
                float.Parse(string.IsNullOrWhiteSpace(displayMemory) ? "0" : displayMemory));
            display.SetMemory(memory.ToString());

            return;
        }
        else if (value == Constants.MEMORY_CLEAR)
        {
            display.ClearMemory();

            return;
        }
        else if (value == Constants.MEMORY_READ)
        {
            display.ReadMemory();
            return;
        }
        else if (inputValidationService.IsEditionAllowed(value, display.Value)) return;
        else if (value == Constants.CLEAR)
        {
            display.Clear();
            binaryOperationAppService.ClearOperations();

            return;
        }
        else if (IsChainingCalculation(value))
        {
            binaryOperationAppService.SetResult();
            var result = binaryOperationAppService.GetResult();
            binaryOperationAppService.SetOperand(result!.Value);
            display.Clear();

            display.Append(result.ToString()!.ToArray());
        }
        else if (value == '=' && display.PercentageOff)
        {
            var result = binaryOperationAppService.GetNumberWithoutPercentage(int.Parse(display.Value));
            await display.AppendAsync(value);
            display.Append(result.ToString()!.ToArray());

            return;
        }
        else if (value == '=')
        {
            binaryOperationAppService.SetResult();
            var result = binaryOperationAppService.GetResult();
            await display.AppendAsync(value);
            display.Append(result.ToString()!.ToArray());

            return;
        }
        else
        {
            if (binaryOperationAppService.GetState() is BinaryOperationState.ResultSetted && (value == '+' || value == '-' || value == '*' || value == '/'))
            {
                display.Clear();
                display.Append(binaryOperationAppService.GetResult().ToString()!.ToArray());
                binaryOperationAppService.SetOperand(float.Parse(display.Value));
            }

            if (binaryOperationAppService.GetState() is BinaryOperationState.ResultSetted && (char.IsDigit(value) || value == Constants.FLOATING_POINT))
            {
                display.Clear();
                binaryOperationAppService.ClearOperations();
            }

            if (value == Constants.NEGATION_OPERATION_SIGN)
            {
                binaryOperationAppService.NegateOperand();
            }
        }

        await display.AppendAsync(value);
    }

    private bool IsChainingCalculation(char value) =>
        (value == '+' || value == '-' || value == '*' || value == '/') &&
        binaryOperationAppService.GetOperand2() is not null;
}
